# Auto detect text files and perform LF normalization
* text=auto
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db